{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<!--<h2>About me</h2>-->
<img src="theme/images/hat_icon.jpg" id="mainicon"/> {{ PELICAN_SOBER_ABOUT_LONG }}
<!--
I'm a busy man. I'm a father, a husband, a graduate student, a software developer with many, many years of professional experience, an open source advocate, a Linux kernel hacker, an avid baseball fan, a tinkerer, a builder, a reader, a thinker, and a hat wearer.
<p>Here you will find information about my research interests and my open source
projects, as well as my resume and my random museings in my blog.<br/> 
-->
<div class="mycontainer">
<div class="myhalf">
<h2>Research</h2>
{% for p in RESEARCH %}
	<a href="{{ p.url }}">{{ p.name }}</a><br/>
	<i>{{ p.description }}</i><br/><br/>
{% endfor %}
</div>
<div class="myhalf">
<h2>Projects</h2>
{% for p in PROJECTS %}
	<a href="{{ p.url }}">{{ p.name }}</a><br/>
	<i>{{ p.description }}</i><br/><br/>
{% endfor %}
</div></div>
<div>
<h2>Latest Posts</h2>
   <ul style="list-style-type: none;">
   {% for article in articles %}
	{% if loop.index < 6 %}
        <li>
          {% include 'article_summary.inc.html' %}
        </li>
	{% endif %}
   {% endfor %}
   </ul>
   <a href="/archives.html">All Posts</a>
</div>

<!--
{% for article in articles %}
    {% if loop.index == 1 %}

      <article>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {{ article.summary }}
      </article>

      <hr />

      {% if loop.length  > 1 %}
        <div>
          <h3>Last posts</h3>
          <ol class="archive">
      {% endif %}
    
    {% elif loop.index < 10 %}
      <li>
        {% include 'article_link.inc.html' %}
      </li>
    {% endif %} 

{% endfor %}

{% if articles|length > 1 %}
          </ol>
        </div>
{% endif %}
-->
{% endblock content %}
